/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); */
body{
    /* width: 90%; */
    background: linear-gradient(80deg, #56d8e4 15%, #9f01ea 70%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 98vh;

    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    /* background-repeat: no-repeat; */
}

header{
    /* position: fixed; */    
    text-align: center;    
    /* padding: 0%; */
}

h1{
    height: 2em;
    width: 21rem;
    text-align: justify;
    background-color: rgb(218, 11, 11);
    /* position: relative; */
    /* padding-top: 3rem; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: brown; */
    margin: 0px;
}

header p{
    /* float: left; */
    width: 21rem;
    margin-top:0px;
    /* margin-bottom: 0px; */
    /* padding-bottom: 0px; */
    position: relative;
    background-color: rgb(38, 41, 40);
    color: whitesmoke;
}

nav{
    border: 3px solid white;
    padding-bottom: 20px;;
    /* margin-bottom: 10px; */
    /* background-color: rgb(74, 224, 4); */
    /* background-color: rgb(151,151,219); */
    /* margin-right: 10px; */
}

#signinspan{
    float: right;
}

nav a, nav p{
    /* font-family: cursive; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 140%;
    color: rgba(14, 3, 3, 0.726);
    text-decoration: none;
    padding: 5px; 
    /* padding-bottom: 10px; */
    /* margin-bottom: 100%;    */
}

.navpara{
    text-decoration: underline;
}

.navpara{
    /* text-align: center; */
    padding-left: 35%;
    font-size: 30px;
    color: rgb(107, 18, 18);
}



a:hover{
    /* font-size: 200%; */
    color:tomato;
    text-decoration: underline;
    /* box-shadow: 1000px turquoise; */
}


.flexi{
    display: flex;
    flex-direction: row;
}

.display{
    width: 50%;
    /* display: flex;
    flex-direction: column; */
}

video{
    display: inline-block;
    border-radius: 12px;
    border: 5px solid rgb(185, 122, 122);
    /* video auto */
    /* display: inline-block; */
    /* height: 24rem; */
    /* padding-left: 20%; */
}


video:hover{
    /* padding-left: 20%; */
    transform: scale(1.1);
    /* animation-play-state: running; */
}


img{
    /* display: flex; */
    /* flex-direction:row-reverse; */
    /* margin-block: 0%; */
    width: 450px;
    height: 20rem;
    border-radius: 12px;
    border: 5px solid rgb(185, 122, 122);
    /* padding: 5px; */
}

img:hover{
    transform: scale(1.1);
}

p{
    display: flex;
    flex-direction: row;
}

.organiser .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.organiser form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

form .data label{
    font-size: 18px;
}

form .data input{
    height: 75%;
    width: 100%;
    /* padding-left: 10px; */
    /* font-size: 17px; */
    /* border: 1px solid lightgrey; */
}

form .btn{
    margin: 30px 0;
    height: 45px;
    width: 100%;
    /* position: relative;
    overflow: hidden; */
}

.organiser{
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -30%);
    background-color: rgb(240, 245, 230);
}

form .data input:focus{
    border-color: #3498db;
    border-bottom-width: 2px;
}

form .forgot-pass a{
    color: #3437db;
    text-decoration: none;
}

form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: rgb(150, 31, 31);
    background-color: aqua;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}



.welcomenotes section{
    margin-top: 20px;;
    border: 6px solid rgb(48, 36, 36);
    margin-left: 10px;
    padding:0px 5px;
}

.welcomenotes h2{
    text-align: center;
}

.welcomenotes p{
    color: rgb(45, 54, 53);
    font-size: 20px;
}


.menupagesection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menupagesection p{
    display: block;
    width: 50%;
    text-align: justify;
}


.additemtocart{
    margin-bottom: 20px;
    /* display: flex;
    flex-direction: row; */
}

.checkandquantitydiv{
    display:inline-flex;
    flex-wrap: wrap;
}

.checkandquantitydiv input{
    margin-right: 20px;;
}


.placeorderdiv input{
    /* float: right; */
    width: 20%;
    /* display: block; */
    /* text-align: end; */
    /* height: 4000px; */
}

.placeorderdiv label{
    width: 180px;
    height: 30px;;
    display: inline-block;
}

button{
    padding: 8px 10px;
    border-radius: 10%;
    color: rgb(212, 210, 201);
    background-color: rgb(69, 60, 158);
    margin-bottom: 10px;
}

button:hover{
    background-color: rgba(194, 159, 85, 0.842);
    box-shadow: -5px 5px rgb(86, 131, 113);
    cursor: pointer;
    border: 1px solid #777;
    transform: scale(1.15);
}


footer{
    margin-top: auto;
    background-color: navy;
    text-align: center;
    font-size: 90%;
    font-family: Cambria, Cochin, Georgia, serif;
    /* margin-top: 10px; */
}

footer a{
    color: rgb(197, 24, 24);
}


